.container-checkbox {
  position: relative;
  padding-left: 35px;
  color: var(--color-text-complement);
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  width: auto;
}

/* Hide the browser's default checkbox */

.container-checkbox input {
  display: none;
}

/* Create a custom checkbox */

.checkmark {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: var(--color-box-footer);
}

/* On mouse-over, add a grey background color */

.container-checkbox:hover input~.checkmark {
  background-color: var(--color-line-in-white);
}

/* When the checkbox is checked, add a blue background */

.container-checkbox input:checked~.checkmark {
  background-color: var(--color-secundary);
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.container-checkbox input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}